* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #47494A;
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  list-style-type: none;
  text-decoration: none;
  font-size: 10px;
}

body {
  background-color: $light;
  width: 100vw;
  min-width: 320px;
}

.accent {
  color: $accent;
}

section {
  width: 100%;
  margin-top: 60px;
}

section p,
section a,
section li,
section span,
.period {
  font-size: 1.75rem;
}

.dark-container section a,
.dark-container section p
 {
  color: $light;
  line-height: 3rem;
}

/* LAYOUT */

.flex-container {
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  .dark-container,
  .light-container {
    width: 100%;
    min-width: 320px;
    display: flex;
  }
  .dark-container {
    padding: 100px 0;
    justify-content: center;
    background-color: $dark;
    .inner-content {
      max-width: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  .light-container {
    padding: 40px 0;
    flex-direction: column;
    align-items: center;
    .inner-content {
      max-width: 80%;
    }
  }
  @include media-tablet {
    flex-direction: row;
    .dark-container {
      min-width: 33%;
      min-height: 100%;
      justify-content: flex-end;
      .inner-content {
        width: 80%;
        min-width: 300px;
        padding-right: 40px;
        min-height: 100%;
      }
    }
    .light-container {
      min-width: 67%;
      padding: 100px 0;
      align-items: flex-start;
      .inner-content {
        width: 90%;
        min-width: 600px;
        padding-left: 60px;
      }
    }
  }
}
