.section-title {
  margin-bottom: 30px;
  letter-spacing: 4px;
  color: $light;
  font-size: 2.5rem;
  font-family: 'Alegreya SC', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.dark-container .section-title {
  color: $light;
  border-top: 2px solid $light;
  border-bottom: 2px solid $light;
}

.light-container .section-title {
  color: $dark;
  border-top: 2px solid $dark;
  border-bottom: 2px solid $dark;
}
