.contacts {
  li {
    display: flex;
    margin-bottom: 1.4rem;
  } 
  a:hover {
    color: $accent;
  }
  .icon {
    font-size: 2rem;
    margin-right: 8px;
    path {
      fill: $accent;
    }
  }
}
