.controls {
  width: 100%;
  min-width: 320px;
  position: absolute;
  top: 0;
  ul {
    display: flex;
    justify-content: flex-end;
  }
  button {
    width: 40px;
    height: 40px;
    margin: 20px 10px 0 0;
    color: $accent;
    font-size: 2rem;
    font-weight: 700;
    background: $transparent;
    border: 2px solid $accent;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    transition: $transition;
    &:hover {
      color: $light;
      border: 2px solid $light;
    }
  }
  @include media-tablet {
    button {
      color: $dark;
      border: 2px solid $dark;
      &:hover {
        color: $accent;
        border: 2px solid $accent;
      }
    }
  }
}
