@font-face {
  font-family: 'Alegreya SC';
  src: local('Alegreya Regular'), url(../fonts/AlegreyaSC-Regular.woff) format('woff');
}

@font-face {
    font-family: 'Alegreya SC';
    font-weight: 700;
    src: local('Alegreya Bold'), url(../fonts/AlegreyaSC-Bold.woff) format('woff');
}
