.flex-2-columns {
  display: flex;
  margin-bottom: 20px;
  .left {
    min-width: 130px;
    font-weight: 700;
  }
  li {
    margin-bottom: 10px;
  }
  @include media-mobile {
    .left {
      min-width: 170px;
    }
  }
}
