$dark: #343434;
$light: #F2F4F5;
$accent: #FA625C;
$font-color: #616262;
$transparent: rgba(0, 0, 0, 0);
$transition: ease-out .4s;

// BREAKPOINTS

$mobile: 480px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1200px;
$large: 1920px;