  
@mixin font ($family, $size, $height, $weight: normal) {
  font-family: $family;
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
}

@mixin media-tablet {
  @media (min-width: 1024px) { @content; }
}

@mixin media-mobile {
  @media (min-width: 768px) { @content; }
}
